*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url('https://i.picsum.photos/id/1002/1960/1303.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  color :white; 
}

.twoHeaders {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.mainTemp {
  text-align: center;
}

.mainTemp h2 {
  font-size: 3rem;
  margin: 0px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
